<div class="form-group {{form.htmlClass}}"
     ng-class="{'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false}"
     ng-init="form_key = form.key">
  <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
  <ui-select ng-model="select_model.selected"
             ng-controller="UiSelectController"
             theme="bootstrap"
             ng-disabled="form.disabled"
             on-select="$$value$$=$item.value;onSelect($item.value, form.options)"
             class="{{form.options.uiClass}}">
    <ui-select-match class="ui-select-match" placeholder="{{form.placeholder || form.schema.placeholder || ('placeholders.select' | translate)}}">{{select_model.selected.label}}</ui-select-match>
    <ui-select-choices class="ui-select-choices"
                       refresh="fetchResult(form.schema, form.options, $select.search)"
                       refresh-delay="form.options.refreshDelay"
                       group-by="form.options.groupBy"
                       repeat="item in form.schema.items | propsFilter: {label: $select.search, description: (form.options.searchDescriptions===true ? $select.search : 'NOTSEARCHINGFORTHIS') }">
      <div ng-bind-html="item.label | highlight: $select.search"></div>
      <div ng-if="item.description">
        <span ng-bind-html="'<small>' + (''+item.description | highlight: (form.options.searchDescriptions===true ? $select.search : 'NOTSEARCHINGFORTHIS'))+ '</small>'"></span>
      </div>
    </ui-select-choices>
  </ui-select>

  <span ng-if="form.feedback !== false"
        class="form-control-feedback"
        ng-class="evalInScope(form.feedback) || {'glyphicon': true, 'glyphicon-ok': form.disableSuccessState !== true && hasSuccess(), 'glyphicon-remove': form.disableErrorState !== true && hasError() }"
        aria-hidden=true>
  </span>
  <div class="help-block" sf-message="form.description"></div>
</div>
